In [45]:
import pandas as pd
import numpy as np

In [46]:
# Import raw data from csv.
df = pd.read_csv('./RawData.csv')
df.head()

,Unnamed: 0,Company name,Asset Tangibility\n2018,Leverage\nth 2018,Net Tangible Assets (Liab.)\nth GBP 2018,Gearing (%)\n2018,Number of employees\n2018,Liquidity Ratio (x)\n2018,Turnover\nth GBP 2018,Taxation\nth GBP 2018,...,Price / book value ratio - close\n2018,Return on Shareholders Funds (%)\n2018,Gross Profit\nth GBP 2018,Directors' Fees\nth GBP 2018,Directors' Remuneration\nth GBP 2018,Research & Development\nth GBP 2018,Tangible Assets\nth GBP 2018,Issued Capital\nth GBP 2018,Long Term Debt\nth GBP 2018,BvD sector
0,1.0,GLENCORE PLC,0.5579,0.0002,"56,254,000",113.59,"158,000",0.59,"172,221,000","-1,364,000",...,1.14,10.23,"7,097,000","1,134","3,144",NaN,"37,007,000","114,000","-20,708,000",Mining & Extraction
1,2.0,JACK RICHARDS HOLDINGS LIMITED,0.6367,0.0003,"27,648",148.19,703,0.86,"53,784",NaN,...,n.a.,9.75,"5,689",11,11,NaN,"27,805",0,"-11,653","Transport, Freight & Storage"
2,3.0,TESCO PLC,0.5119,0.0002,"22,963,000",233.35,"327,916",0.60,"57,491,000","-176,000",...,1.61,12.39,"3,350,000","2,000","9,154",NaN,"18,521,000","410,000","-10,114,000",Retail
3,4.0,UNILEVER PLC,0.1466,0.0004,"7,598,000",253.58,"158,000",0.57,"45,769,000","252,000",...,4.62,107.01,"19,942,000","2,388","22,563",NaN,"9,289,000","417,000","-19,187,000",Wholesale
4,5.0,TESCO STORES LIMITED,0.2958,0.0000,"7,857,000",336.86,"275,143",0.79,"41,367,000",NaN,...,n.a.,9.14,"1,660,000","8,000","8,000",NaN,"9,595,000","1,325,000","-35,000",Retail

In [47]:
# Replace weird null values with native numpy NaN.
df.replace(to_replace="n.a.", value=np.nan, inplace=True)
df.replace(to_replace="n.s.", value=np.nan, inplace=True)

df.isna().sum()

Unnamed: 0                                                    0
Company name                                                  0
Asset Tangibility\n2018                                     170
Leverage\nth 2018                                         20018
Net Tangible Assets (Liab.)\nth GBP 2018                    170
Gearing (%)\n2018                                           227
Number of employees\n2018                                   179
Liquidity Ratio (x)\n2018                                   223
Turnover\nth GBP 2018                                       373
Taxation\nth GBP 2018                                     25692
Profit margin (%)\n2018                                    1218
Current ratio (x)\n2018                                     223
BvD Independence Indicator                                    0
Market capitalisation / Total assets (Tobin’s Q)\n2018    38623
Price / book value ratio - close\n2018                    38623
Return on Shareholders Funds (%)\n2018                      379
Gross Profit\nth GBP 2018                                   237
Directors' Fees\nth GBP 2018                              10901
Directors' Remuneration\nth GBP 2018                      10649
Research & Development\nth GBP 2018                       36107
Tangible Assets\nth GBP 2018                                184
Issued Capital\nth GBP 2018                                2673
Long Term Debt\nth GBP 2018                               20018
BvD sector                                                  225
dtype: int64

In [48]:
# Drop columns with alot of missing values.
df.drop([
    "Research & Development\nth GBP 2018",
    "Long Term Debt\nth GBP 2018",
    "Market capitalisation / Total assets (Tobin’s Q)\n2018",
    "Price / book value ratio - close\n2018"
    ], axis=1, inplace=True)

# Drop unnecessary index column.
df.drop(['Unnamed: 0'], axis=1, inplace=True)
df.isna().sum()

Company name                                    0
Asset Tangibility\n2018                       170
Leverage\nth 2018                           20018
Net Tangible Assets (Liab.)\nth GBP 2018      170
Gearing (%)\n2018                             227
Number of employees\n2018                     179
Liquidity Ratio (x)\n2018                     223
Turnover\nth GBP 2018                         373
Taxation\nth GBP 2018                       25692
Profit margin (%)\n2018                      1218
Current ratio (x)\n2018                       223
BvD Independence Indicator                      0
Return on Shareholders Funds (%)\n2018        379
Gross Profit\nth GBP 2018                     237
Directors' Fees\nth GBP 2018                10901
Directors' Remuneration\nth GBP 2018        10649
Tangible Assets\nth GBP 2018                  184
Issued Capital\nth GBP 2018                  2673
BvD sector                                    225
dtype: int64

In [49]:
# Rename columns.
ends = ["\nth GBP 2018", "\n2018", "\nth 2018"]
for col in df.columns:
    for end in ends:
        if col.endswith(end):
            df.rename(columns={col: col[:-len(end)]}, inplace=True)

# Drop rows with NaN values.
df.dropna(inplace=True)
df.isna().sum()

# Total number of rows.
df.shape[0]

7248

In [50]:
# Print dtypes of columns.
df.dtypes

Company name                        object
Asset Tangibility                   object
Leverage                            object
Net Tangible Assets (Liab.)         object
Gearing (%)                         object
Number of employees                 object
Liquidity Ratio (x)                 object
Turnover                            object
Taxation                            object
Profit margin (%)                   object
Current ratio (x)                   object
BvD Independence Indicator          object
Return on Shareholders Funds (%)    object
Gross Profit                        object
Directors' Fees                     object
Directors' Remuneration             object
Tangible Assets                     object
Issued Capital                      object
BvD sector                          object
dtype: object

In [51]:
# Get rid of commas in numerically formatted columns.
# Try to convert data to numeric, float if there is decimal point, integer otherwise.
for col in df.columns:
    df[col] = df[col].str.replace(',', '')
    try:
        df[col] = pd.to_numeric(df[col], errors='raise')
    except ValueError:
        pass

df.dtypes

Company name                         object
Asset Tangibility                   float64
Leverage                            float64
Net Tangible Assets (Liab.)           int64
Gearing (%)                         float64
Number of employees                   int64
Liquidity Ratio (x)                 float64
Turnover                              int64
Taxation                              int64
Profit margin (%)                   float64
Current ratio (x)                   float64
BvD Independence Indicator           object
Return on Shareholders Funds (%)    float64
Gross Profit                          int64
Directors' Fees                       int64
Directors' Remuneration               int64
Tangible Assets                       int64
Issued Capital                        int64
BvD sector                           object
dtype: object

In [52]:
# Feature engineering.

# Drop rows where firms have over 1 asset tangibility, which is not possible.
# Drop rows where firms have 0 turnover.
df = df[(df["Turnover"] != 0) & (df["Asset Tangibility"] <= 1) & (df["Asset Tangibility"] >= 0)]

# New log sales column.
df["Log Sales"] = np.log(df["Turnover"])

In [53]:
df["BvD Independence Indicator"].value_counts()

D     4193
B+    1967
A+     828
A-      43
C       39
U       29
C+      16
A       10
B-       4
Name: BvD Independence Indicator, dtype: int64

In [54]:
# Take care of special cases.
df["BvD Independence Indicator"] = df["BvD Independence Indicator"].map({
    "A+": 10, "A": 9, "A-": 8, 
    "B+": 7, "B": 6, "B-": 5, 
    "C+": 4, "C": 3, "C-": 2, 
    "D": 1, "U": 0})

df.head()

,Company name,Asset Tangibility,Leverage,Net Tangible Assets (Liab.),Gearing (%),Number of employees,Liquidity Ratio (x),Turnover,Taxation,Profit margin (%),Current ratio (x),BvD Independence Indicator,Return on Shareholders Funds (%),Gross Profit,Directors' Fees,Directors' Remuneration,Tangible Assets,Issued Capital,BvD sector,Log Sales
0,GLENCORE PLC,0.5579,0.0002,56254000,113.59,158000,0.59,172221000,-1364000,2.13,1.10,10,10.23,7097000,1134,3144,37007000,114000,Mining & Extraction,18.964289
2,TESCO PLC,0.5119,0.0002,22963000,233.35,327916,0.60,57491000,-176000,2.26,0.71,10,12.39,3350000,2000,9154,18521000,410000,Retail,17.867139
3,UNILEVER PLC,0.1466,0.0004,7598000,253.58,158000,0.57,45769000,252000,24.29,0.78,10,107.01,19942000,2388,22563,9289000,417000,Wholesale,17.639118
7,VODAFONE GROUP PUBLIC LIMITED COMPANY,0.4345,0.0002,55524000,72.76,106135,0.96,40902000,-1851000,8.33,0.97,10,5.73,12120000,1872,14439,24877000,4212000,Communications,17.526690
8,GLAXOSMITHKLINE PLC,0.2063,0.0004,11824000,831.38,96851,0.51,30821000,-572000,15.57,0.75,10,110.09,20580000,4173,13765,11058000,1345000,Chemicals Petroleum Rubber & Plastic,17.243707

In [55]:
df["BvD sector"].value_counts()

Business Services                                         1706
Wholesale                                                 1110
Construction                                               734
Travel Personal & Leisure                                  563
Retail                                                     353
Transport Freight & Storage                                350
Public Administration Education Health Social Services     262
Metals & Metal Products                                    235
Food & Tobacco Manufacturing                               226
Industrial Electric & Electronic Machinery                 198
Property Services                                          183
Chemicals Petroleum Rubber & Plastic                       173
Miscellaneous Manufacturing                                161
Banking Insurance & Financial Services                     134
Agriculture Horticulture & Livestock                       119
Wood Furniture & Paper Manufacturing                       110
Waste Management & Treatment                                76
Textiles & Clothing Manufacturing                           68
Computer Software                                           61
Mining & Extraction                                         57
Communications                                              56
Printing & Publishing                                       49
Leather Stone Clay & Glass products                         42
Utilities                                                   37
Transport Manufacturing                                     30
Media & Broadcasting                                        27
Biotechnology and Life Sciences                              6
Computer Hardware                                            3
Name: BvD sector, dtype: int64

In [56]:
# Drop rows where BvD sector is financial services.
df = df[df["BvD sector"] != "Banking Insurance & Financial Services"]
print("Number of observations:", df.shape[0])

Number of observations: 6995

In [57]:
# Save random sample of data of 1000 observations to csv.
df.sample(n=1000).to_csv('./CleanData.csv', index=False)